.invisibleSaveButton {
    visibility: hidden;
}
.visibleSaveButton {
    visibility: visible;
}

/*Dark mode*/
.customBody {
    background-color: black;
}

.questionInvisibleText {
    color: goldenrod;
    visibility: hidden;
    font-weight: bold;
}

.questionVisibleText {
    color: goldenrod;
    visibility: visible;
    font-weight: bold;
}

.answerBoxInvisible {
    visibility: hidden;
    position: absolute;
    border:solid;
    background-color: darkslateblue;

}

.answerBoxVisible {
    visibility: visible;
    position: static;
    border:solid;
    background-color: darkslateblue;

}

.answerInvisibleText {
    color: goldenrod;
    visibility: hidden;
}

.answerVisibleText {
    color: goldenrod;
    visibility: visible;
}

.jepButton {
    color:goldenrod;
    background-color: darkslateblue;
    font-weight: bold;
}

.invisibleCatSelector {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    border:solid;
    background-color: darkslateblue;
    width: 90%;
}

.visibleCatSelector {
    visibility: visible;
    position: static;
    border:solid;
    background-color: darkslateblue;
    width: 90%;
}

.invisibleJeopardy {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    border:solid;
    background-color: darkslateblue;
    width: 90%;
}

.visibleJeopardy {
    visibility: visible;
    position: static;
    border:solid;
    background-color: darkslateblue;
    width: 90%;
}